body{
 overflow:hidden;
    background: url(../img/bglarge.gif); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

  
    
}
.background{
       background: url(../img/pattern_stripe.png);
height: 100%;
   -webkit-linear-gradient(transparent, transparent);
   -webkit-background-clip: text;
    color: transparent;
     background: -o-linear-gradient(transparent, transparent);
    
}
.logo {
 margin-top: 30px;   
    
}

/*bensonngurumburu2016*/
